# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/

# =========================
# Environment Variables
# =========================
.env
.env.*

# allow example env files
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-data/
# Local database backups
backups/
*.dump
